{% load staticfiles %}
<html>
    <head>
    		<title>LAN Sosnowien active clients</title>
		   <link rel="stylesheet" href="{% static 'css/LAN1.css' %}">
    		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
         <title>LAN Sosnowiec</title>
    </head>
<html>
	<body>
	<div>
		<h1><a href="/">LAN SOS</a></h1>
	</div>
    	{% for client in clients %}
   	 <div>
    		<p> <h1><a href="">{{client.cl_address}}</a></h1> {{client.mac}}, {{client.ip_add}}, {{client.kl_service}}, {{client.downl}}, {{client.upl}} </p>
    	</div>
    	{% endfor %}
    </body>
</html>
